@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.product-detail{
    width: 100%;
}
.bout-banner{
    width: 100%;
    height: 450px;
    background: url(../img/about/product.jpg);
    overflow: hidden;
    position: relative;
    background-size: cover;  
    background-attachment: fixed;
    
}
.bout-banner .banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.4);
}
.bout-banner h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 5px solid #0099ff;
}

/* products */
.products{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    font-size: 50px;
    font-weight: 500;
}
#pcontainer{
    /* border: 1px solid #000; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    
}
.product1{
    margin: 0;
    padding: 0;
    width: 300px;
    box-shadow: 0 5px 10px #000;
    background: #000;
    
}
.product1 img{
    width:100%;
    transition: .3s;
}
.product1 img:hover{
    opacity: .7;
}
#p1content{
    position: relative;
    /* border: 1px solid #000; */
    text-align: justify;
    padding: 0px 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#p1content:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 6px);
    width: 100%;
    height: 100%;
    /* background: #3498db; */
    background: #2e86de;
    /* background: #e33cff; */
    z-index: 1;
    transition: .4s;
}
#p1content:hover:before{
    bottom: 0;
    color: white;
}
#p1content:hover div{
    color: white;
}
#p1content div{
    position: relative;
    
    z-index: 2;
}
#p1content h4{
    padding-top: 10px;
}

table{
    width: 100%;
    font-size: 17px;
    margin: 10px 0;
}
table tr{
    width: 10%;
}
table td{
    padding: 5px;
}
.product2{
    margin-top: 50px;
}