@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.bout-banner{
    width: 100%;
    height: 450px;
    background: url(../img/about/product.jpg);
    overflow: hidden;
    position: relative;
    background-size: cover;
     background-attachment: fixed;  
    
}
.bout-banner .banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
}
.bout-banner h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 5px solid #0099ff;
}
.serviceBody{
    border: 1px solid red;
    height: 90vh;
    width: 100%;
}