@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*,html,body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: rgba(255, 255, 255, 0.904);
}
.head{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
nav{
    height: 100px;
    /* background-color: black; */
    width: 100%;
    transition: .4s;
    position: fixed;
    z-index: 1111;
}
 nav.black{
    background: rgba(0, 0, 0, 0.8);
    height: 80px;
}
nav ul{
    list-style: none;
    box-sizing: border-box;
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s;
}
nav.black ul li a{
    font-size: 15px;
}
nav .logo{
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    transition: .4s;
}
nav.black .logo{
    font-size: 27px;
}
a.active, nav ul li a:hover{
    background-color: steelblue;
    transition: .4s;
    color: #fff;
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    transition: .4s;
}
#check{
    display: none;
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 15px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display:block;
        border: 1px solid black;
        height: 0;
    }
    .checkbtn:hover{
        color:steelblue;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 70vh;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .4s;
        
    }
    nav.black ul{
        background: rgba(0, 0, 0, 0.8);
    }
    nav ul li{
        display: block;
        line-height: 30px;
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav.black ul li a{
        font-size: 18px;
    }
    a.active, nav ul li a:hover{
        background: none;
        color: steelblue;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.carousel-item img{
    height: 740px;
    width: 100%;
}

#introduction{
    text-align: center;
    margin-top: 10px;
}
/* end of introduction */
/* achievements section */
.award{
    text-align: center;
}
.award2{
    margin: 10px 0;
}
.ach{
    text-transform: uppercase;
    font-weight: 600;
}
 .award span{
    width: 100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    background: rgba(68, 69, 70, 0.93);
    display: inline-block;
    border-radius: 50%;
    transition: .4s;
    cursor: pointer;
    
}
.award span:hover{
    transform: rotate(360deg);
}
 .award span::before{
    margin-left: 0;
    font-size: 50px;
    font-weight: 550;
    background: -webkit-linear-gradient(#05daff,#10e7a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* products cards */
.product-container{
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pcard{
    position: relative;
    width: 300px;
    height: 400px;
    background: #262626;
    /* border: 1px solid white; */
    overflow: hidden;
    margin:10px 15px;
    box-shadow: 2px 2px 10px black;
    /* border-radius: 30px; */
}
.pcard input:hover{
    cursor: pointer;
}
.pcard input,
.toggle{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    outline: none;
    z-index: 10;
    /* pointer-events: all; */
}
.pcard input{
    opacity: 0;
}
.pcard .toggle{
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
    transition: .4s;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    box-shadow: 0 0 0 0px #7947ee;
}
.pcard input:checked ~ .toggle{
    box-shadow: 0 0 0 500px #7947ee;
    transform: rotate(225deg);  
}
.pcard .imgbox, .detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.pcard .detail{
    padding: 20px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: .4s;
    opacity: 0;
}
.pcard input:checked ~ .detail{
    opacity: 1;
    transition-delay: 0.3s;
}
.pcard .detail h2{
    margin-bottom: 5px;
    color: #fff;
}
.pcard .detail p{
    margin: 0;
    padding: 0;
    color: #fff;
}
.detail .read{
    pointer-events: fill;
    margin-top: 30px;
    padding: 8px 14px;
    border:none;
    outline: none;
    border-radius: 20px;
    color: white;
    transition: .4s;
    background: linear-gradient(to right,#eb3349 , #f45c43 ,#eb3349);
    background-size: 200% auto;
}
.detail .read:hover{
    background-position: right center;
    transition: .4s;
    transform: translateY(-10px);
}
.counterSection{
    /* margin:20px auto; */
    background:radial-gradient(#353740,#62656E );
    min-height: 80vh;
}
.proj h1{
    padding-top: 20px;
    color: white;

}
.counter-section{
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.icon-box{
    border: 2px solid gold;
    height: 130px;
    width: 130px;
    margin-top: 20px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#662D8C,#ED1E79 );
    box-shadow: 10px 10px 15px #00110A;
    transform: rotate(45deg);
    transition: .5s;
}
.icon-box span{
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-block;
    transition: .4s;
    cursor: pointer;
    transform: rotate(-45deg);
}

 .icon-box span::before{
    margin-left: 0;
    font-size: 60px;
    color:white;
    
}
.counter-box{
    /* border: 1px solid white; */
    margin:30px auto;
}
.counter-box h2{
    font-size: 40px;
    font-weight: 600;
}
.counter-box p{
    font-size: 16px;
    letter-spacing: 1px;
}
.cardSection{
    /* margin: 20px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(#B066FE ,#63E2FF)
}
.cards{
    position: relative;
    background: #fff;
    width: 300px;
    height: 470px;
    margin: 5px auto;
}
.cards .sliderTxt{
    position: relative;
    color: #fff;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards .content{
    width: 300px;
    height: 260px;
    padding: 18px;
    box-sizing: border-box;
}
.cards .sliderTxt img{
    position: absolute;
    height: 210px;
    width: 300px;
}
.cards .content a{
    display: inline-block;
    margin: 10px 0;
    padding: 10px 18px;
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}
.swiper-slide{
    width: 300px;
}

/* 
.test{
      height:490px;
      background: linear-gradient(#185a9d,#43cea2);
} 

.item .pad{
    padding-left: 15px;
    margin: 0px;
    text-align: justify;
}
.review h1{
    text-align: center;
    color: white;
    margin: 15px;
    font-weight: 600;
}
#quote-carousel{
    padding: 10px ;
}
#quote-carousel .carousel-indicators li{
    width: 62px;
    height: 62px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid grey;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active{
    background: #333333;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color: white;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner{
    min-height: 400px;
    margin: 0px;
    padding: 0px;
}
.item p{
    font-size: 18px;
    color: white;
}
.item small{
    text-align: center;
    color: white;
    font-size: 16px;
}



.team-section{
    overflow: hidden;
    text-align: center;
    padding: 30px;
}
.team-section h1{
    margin-top: -15px;
    font-weight: 600;
    color: white;
    font-size: 40px;
}
.border{
    display: block;
    margin:auto;
    width: 180px;
    height: 3px;
    margin-bottom: 30px;
    background: #25f1a3;
}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin: 0px 30px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    filter: grayscale(100%);
    transition: 0.4s all;
}
.ps a:hover > img{
    filter: none;
} */
.section{
    width: 500px;
    margin: auto;
    font-size: 20px;
    color: white ;
    height: 0;
    overflow: hidden; 
    
   
}
.section:target{
    height: auto;

}
.name{
    display: block;
    /* border:1px solid black; */
    margin-bottom: 20px;
    text-transform: uppercase;
}
.section p{
    font-size: 20px;
}
.main-div{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b1e9fa;
    /* border: 1px solid black; */
}
#service{
    margin: 20px 20px;
    /* font-size: 30px; */
    
    
}
.area{
    height: 350px;
    overflow: auto;
     /* border: 1px solid black; */
   
}
.area ul li{
    
    margin: 0px;
    padding: 0px;
    padding-left: 1px;
    text-decoration: none;
    /* border: 1px solid black; */
    display: inline-block;
    
}
.area ul li a{
    color: black;
    padding: 1px;
    font-size: 12px;   
    
}
.footer{
    background-color: black;
    height: auto;
    color: white;
    font-size: 14px;
    
}
#add{
    padding: 2px;
}
.footer .address #btn{
    display: block;
    margin: auto;
}
.footer .address #btn{
    width: 80%;
    height: 50px;
    margin-top: 25px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    text-align: center;
    background: linear-gradient(to right,#36d1dc  , #5b86e5 ,#36d1dc   );
    background-size: 200% auto;
    transition: .4s;
}
.footer .address #btn:hover{
    background-position: right center;
    transform: translateY(-15px);
}
.srv ul li{
    margin-left: auto;

}
.prod ul{
    margin-left: 30px;
}
.contact-section{
    text-align: center;
}
.contact-section h3{
    text-align: center;
}
.contact-section .borderline{
    background: #ff512f;
    width: 100px;
    height: 5px;
    margin: 10px auto;
}
.contact-form{
    max-width: 300px;
    margin: auto;
    overflow: hidden;
    padding: 0 10px;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 12px 0;
    border: 0;
    background: #3f3e3e;
    outline: none;
    padding: 10px;
    color: #ddd;
    transition: .4s;
}
.contact-form-text::placeholder{
    color: whitesmoke;
}
.contact-form-text:hover{
    box-shadow: 0 0 20px 6px #918f8f;
}
textarea.contact-form-text{
    resize: none;
}

.contact-form-btn{
    width: 110px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    border: none;
    outline: none;
    text-align: center;
    background: linear-gradient(to right,#ff512f , #b82567 ,#ff512f  );
    background-size: 200% auto;
    transition: .4s;
}
.contact-form-btn:hover{
    background-position: right center;
}
.bdr{
        border: 1px solid white;
}
.footer .contact {
    font-size: 18px;
    font-family: "montserrat","sans-serif";;
}

.social{
    /* margin-top: 40px;
    margin-right: 18px; */
    margin-right: 19px;
    /* font-size: 20px; */
    text-align: center;
    color: white;
}

.links ul{
    list-style: none;
}
.links li{
    display: inline-block;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 3px rgba(116, 113, 113, 0.747);
    margin-right: 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    
}
.links li a{
    color: black;
    font-size: 23px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
.links li:before{
    content: "";
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    display: inline-block;
    background-color: #3b5998;
    position: absolute;
    transition: 0.3s;
}
.links li:nth-child(1):before{
    background-color: #3ad88e;
}
.links li:nth-child(2):before{
    background-color: #3b5998;
}
.links li:nth-child(3):before{
    background-color: #55acee;
}
.links li:nth-child(4):before{
    background-color: #ff0633;
}
.links li:nth-child(5):before{
    background-color: #c03d3d;
}
.links li:hover::before{
    top: 0%;
}
.links li a:hover{
    color: white;
}
.bfooter{
   color: white;
   text-align: center;
}

