@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: rgba(255, 255, 255, 0.904);
}
.head{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.mainTitle{
    font-weight: 550;
    margin: 40px auto;
}
/* header */
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 40px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 1000;
    position: fixed;
    box-sizing: border-box;
    transition: .4s;
}
header.black{
    background: #000;
    /* padding: 0 30px; */
    line-height: 60px;
}
header .logo{
    color:#fff;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    float:left;
    font-weight: bold;
    transition: .4s;
    text-transform: uppercase;
}
header.black .logo{
    font-size: 28px;
}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
    transition: .4s;
    position: relative;
    margin: 2px ;
}
header nav ul li.sub-menu:before{
    content: '\f0d7';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    right: 1px;
    color: #fff;
}

header nav ul li:hover{
    background: #2196f2;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    height: 50px;
    line-height: 50px;
    padding:0px 15px;
    transition: 0.4s;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}
header.black nav ul li a{
    font-size: 15px;
}
header nav ul li a.active,
header nav ul li a:hover{
    text-decoration: none;
    color: #fff;
    background: #2196f2;
}
.menu-toggle{
    color: #fff;
    float:right;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
@media (max-width:991px)
{
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: .5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
}
/* for dropdown */
.sub-menu ul{
    position: absolute;
    top: 50px;
    left: 0;
    background: #242323;
    width: 220px;
    display: block;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}
header nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.sub-menu ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width:991px){
    .sub-menu ul{
        width: 100%;
        z-index: 1;
    }
}
/* end of header */

/* sidebar */
.sidebar-window{
    position: fixed;
    top:40%;
    left:-380px;
    transform: translateY(-50%);
    width:380px;
    height:auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    z-index: 200;
    transition: .5s;
}
.sidebar-window.active{
    left:0px;
}
.sidebar-window h5{
    margin: 20px auto;
    font-size: 20px;
    text-transform: uppercase;
}
.enquirybtn, .complainbtn{
    height:40px;
    margin:6px;
    padding:10px 15px;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    outline: none;
    transition: .5s;
}
.complainbtn{
    background:#F22613;
    color:white;
}
.enquirybtn{
    background:#007bff;
    color:white;
}
.enquirybtn:hover{
    transform: scale(1.1);
}
.complainbtn:hover{
    transform: scale(1.1);
}
.sidebarToggle{
    position:absolute;
    top:0px;
    right:-48px;
    width:48px;
    height:48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    background:red;
}
.sidebarToggle:before{
    content:'\f0f3';
    font-family: fontAwesome;
    color: #fff;
    font-size: 18px;
}
.sidebarToggle.active:before{
    content:'\f00d';
}
/* end of sidebar */

.carousel-item img{
    height: 740px;
    width: 100%;
}

#introduction{
    text-align: center;
    margin-top: 10px;
}
/* end of introduction */
/* achievements section */
.award{
    text-align: center;
}
.award2{
    margin: 10px 0;
}
.ach{
    text-transform: uppercase;
    font-weight: 600;
}
 .award span{
    width: 100px;
    height:100px;
    line-height: 100px;
    text-align: center;
    background: rgba(68, 69, 70, 0.93);
    display: inline-block;
    border-radius: 50%;
    transition: .4s;
    cursor: pointer;
    
}
.award h3{
    margin-top: 10px;
}
.award span:hover{
    transform: rotate(360deg);
}
 .award span::before{
    margin-left: 0;
    font-size: 50px;
    font-weight: 550;
    background: -webkit-linear-gradient(#05daff,#10e7a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* products cards */
#products{
    margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom:25px;
}
.product-container{
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.pcard{
    position: relative;
    width: 300px;
    height: 400px;
    background: #262626;
    /* border: 1px solid white; */
    overflow: hidden;
    margin:10px 15px;
    box-shadow: 2px 2px 10px black;
    /* border-radius: 30px; */
}
.pcard input:hover{
    cursor: pointer;
}
.pcard input,
.toggle{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    outline: none;
    z-index: 10;
    /* pointer-events: all; */
}
.pcard input{
    opacity: 0;
}
.pcard .toggle{
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
    transition: .4s;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    box-shadow: 0 0 0 0px #0984e3;
}
.pcard input:checked ~ .toggle{
    box-shadow: 0 0 0 500px #0984e3;
    transform: rotate(225deg);  
}
.pcard .imgbox, .detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.pcard .detail{
    padding: 20px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: .4s;
    opacity: 0;
    font-size: 15px;
    text-align: left;
}
.pcard input:checked ~ .detail{
    opacity: 1;
    transition-delay: 0.3s;
}
.pcard .detail h2{
    margin-bottom: 5px;
    color: #fff;
}
.pcard .detail p{
    margin: 0;
    padding: 0;
    color: #fff;
}
.detail .read{
    pointer-events: fill;
    margin-top: 30px;
    padding: 8px 14px;
    border:none;
    outline: none;
    border-radius: 20px;
    color: white;
    transition: .4s;
    background: linear-gradient(to right,#eb3349 , #f45c43 ,#eb3349);
    background-size: 200% auto;
}
.detail .read:hover{
    background-position: right center;
    transition: .4s;
    transform: translateY(-10px);
}
.counterSection{
    /* margin:20px auto; */
    background:radial-gradient(#353740,#62656E );
    min-height: 80vh;
}
.proj h1{
    padding-top: 20px;
    color: white;

}
.counter-section{
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.icon-box{
    border: 2px solid gold;
    height: 130px;
    width: 130px;
    margin-top: 20px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#662D8C,#ED1E79 );
    box-shadow: 10px 10px 15px #00110A;
    transform: rotate(45deg);
    transition: .5s;
}
.icon-box img{
    width: 70px;
    height: 70px;
    text-align: center;
    display: inline-block;
    transition: .4s;
    cursor: pointer;
    transform: rotate(-45deg);
    filter: brightness(0) invert(1);
}


.counter-box{
    /* border: 1px solid white; */
    margin:30px auto;
}
.counter-box h2{
    font-size: 40px;
    font-weight: 600;
}
.counter-box p{
    font-size: 16px;
    letter-spacing: 1px;
}
.cardSection{
    /* margin: 20px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(#B066FE ,#63E2FF)
}
.cards{
    position: relative;
    background: #fff;
    width: 300px;
    height: 470px;
    margin: 5px auto;
}
.cards .sliderTxt{
    position: relative;
    color: #fff;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards .content{
    width: 300px;
    height: 260px;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}
.cards .sliderTxt img{
    position: absolute;
    height: 210px;
    width: 300px;
}
.cards .content a{
    display: inline-block;
    margin: 10px 0;
    padding: 10px 18px;
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}
.swiper-slide{
    width: 300px;
}
/* testimonial section */
.testimonials{
    background: linear-gradient(#45145A , #FF5300);
    color: #fff;
    padding-bottom: 50px;
}
.testrow #carousel-testimonial{
    height: 400px;
    margin-top: 25px;
    padding: 0;
}
.testimonials .carousel-indicators{
    bottom: -40px;
}
.imgarea img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 5px solid white;
    overflow: hidden;
    transition: .4s;
    margin: 10px auto;
}
.imgarea img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.imgarea p{
    letter-spacing: 1px;
}
/* end of testimonial section */
/* our team section */
.tcardsection{
    margin: 0;
    padding: 0px;
    height: 450px;
} 
.tcardsection .mainteam{
     height: 100%;
 }
 .mainteam .teamdesc{
     border-left: 7px solid gold;
     height: 100px;
     width: auto;
 }
 .mainteam .teamdesc p{
     margin: 7px 12px;
     letter-spacing: .5px;
 }
 .mainteam .mainbox{
     margin: 10px auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .mainbox .box{
     margin: 5px 10px;
     position: relative;
     width: 240px;
     height: 300px;
     border-radius: 15px;
     overflow: hidden;
     text-align: center;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
 }
 .box .img-box{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: .5s;
     z-index: 2;
     background: #000;
 }
 .img-box img{
     transition: .5s;
     height: 330px;
     width: 255px;
 }
 .box:hover .img-box img{
     opacity: .5;
 }
 .box .social-links{
     position: absolute;
     top: 45%;
     left:45%;
     transform: translate(-45%, -45%);
     z-index: 3;
     display: flex;
     margin: 0;
     padding: 0;
 }
.social-links li{
     list-style: none;
 }
 .social-links li a{
     position: relative;
     display: block;
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     background-color: #fff;
     color: #262626;
     margin: 0 5px;
     border-radius: 50%;
     transition:.5s;
     transform: translateY(150px);
 }
 .box:hover  .social-links li a{
     transform: translateY(0px);
     opacity:45;
 }
 .box:hover  .social-links li:nth-child(1) a{
     transition-delay: 0s;
 }
 .box:hover  .social-links li:nth-child(2) a{
     transition-delay: 0.2s;
 }
 .box:hover  .social-links li:nth-child(3) a{
     transition-delay: 0.4s;
 }
 .box:hover  .social-links li:nth-child(4) a{
     transition-delay: 0.6s;
 }
 .box .social-links li a .fa{
     font-size: 22px;
     line-height: 40px;
     transition: .5s;
 }
 .box .social-links li a:hover .fa{
      transform: rotateY(360deg);
  }
.box .details{
      position: absolute;
      bottom: 0;
      left: 0;
      background: #fff;
      z-index: 4;
      width: 100%;
      color: black;
      height: 70px;
      box-sizing: border-box;
  }
.details h4{
    margin-top: 5px;
    
  }
.details p{
    margin-bottom: -10px;
    color: #bbb;
  }
 /* end of our team section */
 /* Services Area */
 .serviceArea{
    background: linear-gradient(#00B7FF  ,rgb(24, 238, 220));
 }
.area::-webkit-scrollbar{
     width: 14px;

 }
.area::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #f5f5f5;  
    box-shadow: inset 0 0 10px #00000070; 
 }
 .area::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(125deg,#3498db   ,#548cc5 );
 }
.serviceArea .head h2{
    /* margin-top: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 550;
}
 .serviceArea .area{
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
 }
 .service-sec{
    padding-bottom: 20px;
 }
 .area ul li a{
     color: black;
 }


#footer{
    background-color: black;
    height: auto;
    color: white;
    font-size: 14px;
    padding-bottom: 0;
}
.footertop{
    padding-top: 20px;
}
.web {
    margin-right: 7px;
    text-align: justify;
}
#add{
    padding: 2px;
}
.web .detail-btn{
    text-decoration: none;
    padding: 10px 20px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto;
    text-align: center;
    display: block;
    border-radius: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    background: linear-gradient(to right, #0984e3, #58a5f3,#0984e3);
    background-size: 200% auto;
    transition: .4s;
    outline: none;
}
.web .detail-btn:hover{
    background-position: right center;
    transform: translateY(-10px);
}
.svr{
    /* border: 1px solid #fff; */
}

.srv ul li{
    margin-left: auto;
}
.prod{
    padding-right: 10px;
}
.prod ul{
    margin-left: 30px;
}
.contact-section{
    width: 387px;
    text-align: center;
    margin-left: 10px;
    color: white;
}
.contact-section h3{
    text-transform: uppercase;
}
.contact-section p{
    max-width: 500px;
    margin: 15px auto;
    font-size: 15px;
    font-weight: 300;
}
.email-box{
    margin: 25px;
    height:40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.email-box i{
    background-color: #0984e3;
    width: 40px;
    line-height: 40px;

}
.tbox, .sbtn{
    border:none;
    outline: none;
}
.tbox{
    width:0px;
    transition: .6s;
}
.email-box:hover > .tbox,.tbox:focus{
    padding: 0 10px;
    width:230px;
  
}
.sbtn{
    background: #0984e3;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;

}

.bdr{
        border: 1px solid white;
}
.footer .contact {
    font-size: 18px;
    font-family: "montserrat","sans-serif";;
}

.social{
    margin-right: 19px;
    text-align: center;
    color: white;
}

.links ul{
    list-style: none;
}
.links li{
    display: inline-block;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 3px rgba(116, 113, 113, 0.747);
    margin-right: 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    
}
.links li a{
    color: black;
    font-size: 23px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
.links li:before{
    content: "";
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    display: inline-block;
    background-color: #3b5998;
    position: absolute;
    transition: 0.3s;
}
.links li:nth-child(1):before{
    background-color: #3ad88e;
}
.links li:nth-child(2):before{
    background-color: #3b5998;
}
.links li:nth-child(3):before{
    background-color: #55acee;
}
.links li:nth-child(4):before{
    background-color: #ff0633;
}
.links li:nth-child(5):before{
    background-color: #c03d3d;
}
.links li:hover::before{
    top: 0%;
}
.links li a:hover{
    color: white;
}
.bfooter{
   color: white;
   text-align: center;
   padding-bottom: 10px;
}

