body{
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
    padding-top: 0;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,.4)),url(card1.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    margin-top: 0;
}
nav{
    position: fixed;
    width: 100%;
    line-height: 30px;

}
nav ul{
    float: right;
    margin: 0;
    padding-right: 40px;
}
nav ul li{
    display: inline-block;
    padding:10px 32px;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.logo{
    height: 80px;
    width: 150px;
    float: left;
    margin: 16px 48px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 350px;
    color: white;
}
.des{
    width: 80%;
    margin:50px auto;
}
p{
    font-size: 18px;
    line-height: 28px;
}