    /*
    Flaticon icon font: Flaticon
    Creation date: 26/12/2019 09:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-testing:before { content: "\f100"; }
.flaticon-factory:before { content: "\f101"; }
.flaticon-satisfaction:before { content: "\f102"; }
.flaticon-round-table:before { content: "\f103"; }
.flaticon-trophy:before { content: "\f104"; }
.flaticon-quality:before { content: "\f105"; }
.flaticon-certificate:before { content: "\f106"; }
.flaticon-repairing-service:before { content: "\f107"; }
.flaticon-save-money:before { content: "\f108"; }
.flaticon-like:before { content: "\f109"; }
    
    $font-Flaticon-testing: "\f100";
    $font-Flaticon-factory: "\f101";
    $font-Flaticon-satisfaction: "\f102";
    $font-Flaticon-round-table: "\f103";
    $font-Flaticon-trophy: "\f104";
    $font-Flaticon-quality: "\f105";
    $font-Flaticon-certificate: "\f106";
    $font-Flaticon-repairing-service: "\f107";
    $font-Flaticon-save-money: "\f108";
    $font-Flaticon-like: "\f109";